*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p{
  padding: .375rem .5rem
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

button,
input {
  overflow: visible;
}

button:focus,
input:focus{
  outline: none;
}